<div id="directories">
	<h2>Directories</h2>
	<ul>
		<li class="dir"><a href="<%= @parent %>">..</a></li>
		<%= @directories %>
	</ul>
</div>

<div id="files">
	<h2>Files</h2>
	<ul>
		<%= @files %>
	</ul>
</div>
