/* ********************* */
/* *** STICKY FOOTER *** */
/* ********************* */
/* http://www.cssstickyfooter.com/ */

html, body {height: 100%;}
#wrap {min-height: 100%;}
#main {
	overflow: auto;
	padding-bottom: 30px; /* must be same height as the footer */
}
#footer {
	position: relative;
	margin-top: -30px; /* negative value of footer height */
	height: 27px;
	clear: both;
} 

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}


/* ******************* */
/* *** MAIN LAYOUT *** */
/* ******************* */
body {font-size: 90%;}


/* Header */
#header {
	background:#E9E9E7;
	border-bottom: 3px solid #4D5350;
	overflow:hidden;
	padding:0.75em;
}
#header p{
	margin:0;
	padding:0;
	line-height:1;
}


/* Main Content */
#main {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}



/* Files */
#directories, #files{
	position:relative;
	float:left;
	height:100%;
}
#files{
	
}



/* Footer */
#footer {
	font-size: 12px;
	border-top: 3px solid #4D5350;
	background: #E9E9E7;
}
#footer p {
	margin: 8px 8px 0 8px;
	line-height: 1;
	color: #555;
}
#footer a {color: #222;}
#footer a:hover {text-decoration: underline;}
